---
title: Enamelwork Judging Criteria
---

This category includes any object composed of enamel or on which enameling has been done (reliquaries, boxes, religious items, book covers, etc) or jewelry where the enamelwork alone will be judged. The enamelwork may be composed of any of the five distinct styles of enameling: <B>Cloisonne</b> (flattened wire set edgewise onto a surface to form cloisons into which enamel is fused); <B>Champleve</b>  (enamel fused into a sunken surface in which a design has been carved stamped, pierced, etc); <B>Bassetaille</b> (transparent or translucent enamel fused over a repousse design); <B>Limoges</b>, also known as Painted Enamel (enamel painted and fused onto a surface without a retaining wall to separate colors or parts of the design); <B>Plique a jour</b> (enamel set in wire filigree or pierced metal and held by the framework without a background ).<br />
<B>Note to Judges: Take all elements of the work into consideration when judging. A piece should not be counted down merely because of simple design.</b></p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, use in period, etc), visual and descriptive references (books, portraits, etc.) from reliable sources<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Totally out of period and blatantly modern<br />
• 1-2: Entry is appropriate to time/place stated in documentation.<br />
• 3-4: Generally period with some obvious modern elements or mixture of elements from different cultures or periods. (e.g., modern process producing results equivalent to period process)<br />
• 5-6: Overall period style and execution with minor inconsistencies, period materials or give period effect.<br />
• 7-8: Period methods, design and execution with no inconsistencies; period materials or reasonable equivalents<br />
• 9-10: Special effort to achieve completely period product by use of period design, materials, tools, techniques, etc. (Ex. all hand-done with period techniques); special effort to make entirely authentic and appropriate. Completely period process without modern shortcuts.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Complexity of the medium being worked in.<br />
• Number and variety of composition elements (layout, proportion, balance, color, etc).<br />
• Intricacy of creating design in size/scale utilized in the entry. (Remember that all sizes are difficult because in small scale it is difficult to get details and in large scale, any minor flaw shows noticeably.)<br />
• Number and variety of design elements (decorative motifs, figures, spacers).<br />
• Amount of time involved including research and material preparation.</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale of 1-10 based on the following:<br />
• Attention to details, neatness and finishing touches.<br />
• Effective use of materials, tools, and designs. Ability of entry to serve intended function.<br />
• Choice of materials/design combinations and appropriate application of design(s)<br />
• Durability of the item (able to survive wear/usage).<br />
• Mastery of period style and practice. Personalization or special embellishment.</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>

