---
title: Material Preparation Judging Criteria
---

This category includes the conversion of raw or natural materials into media for use in the arts and sciences. Examples: the making of ink, paint, paper, parchment, glue, varnish, glaze, metal alloys, glass, leather tanning, leather dying, wood preparation for panel painting. Entrant MUST specify intended use of product (shoemaking, painting, etc.). Entry must be in uncrafted state (i.e., enter a jar of ink, with pens so Judges can test it, rather than entering a finished scroll). Although fiber preparation fits this definition, separate criteria exist for Spinning and Dyeing. Tools (which are finished products) should be judged under such criteria as Instruments-Nonscientific, Miscellaneous Crafts, Metalwork, etc., as appropriate.<br />
<B>NOTE: The use of potentially lethal period processes without modern safeguards will disqualify an entry. Entrants who use equivalent methods with appropriate safeguards, and who note the reasons for substitution, will not lose Authenticity points.</b></p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) and purpose of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design if any and appropriateness of product to intended use.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0:Blatantly modern, (e.g., in materials, colors, appearance of product).<br />
• 1-2:Generally period, with some obviously modern elements present (e.g., modern process producing results equivalent to period process)<br />
• 3-4: Generally period but obvious mixture of elements from different cultures or periods (e.g., late-period dyes from Far Eastern sources used in an early-period leather project).<br />
• 5-6: Overall period product and process, with minor inconsistencies.<br />
• 7-8: Period product and process with no inconsistencies.<br />
• 9-10: Special effort to achieve a completely period product by use of period raw materials, tools, etc. Completely period process without modern shortcuts.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Complexity of the medium(s) being worked in (difficulties of materials used).<br />
• Difficulty in tools used in process.<br />
• Difficulty of techniques attempted.<br />
• Variety of techniques attempted.<br />
• Amount of time involved, including research.<br />
• Overall scope of the endeavor (size/amount of product, number of steps in process, etc.).</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Ability of entry to serve intended function or appropriate for intended use?<br />
• Accomplishment of form (color / consistency in resulting product), did entrant achieve desired result?.<br />
• Appropriate application and effective use of materials.<br />
• Mastery of period style and technique.</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>