---
title: Metalwork Judging Criteria
---

Includes the construction of completed objects primarily from metal, with or without decoration. Does NOT include armor and weaponry. If piece includes non-metal work, entrant must note whether or not he did it himself. <B>NOTE: Mercury-gilding, as done in period, is extremely dangerous. Use of such techniques will disqualify an entry. Mercury-gilding done with modern safeguards, and noted as such in the documentation, shall not be penalized in scoring.</b></p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design and rationale or design aspects based on intended use or purpose</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE] Examples of obvious inauthenticity: Materials -- stainless steel, cobalt, aluminum, titanium. Techniques -- photo-etching, arc welding, reticulation.<br />
• 0:Blatantly modern in any regard: in function (e.g., expandable wristwatch band), in motifs or in materials (e.g. stainless steel, aluminum).<br />
• 1-2: Generally period in design and materials, with some obviously modern elements present (e.g., techniques)<br />
• 3-4: Period style but obvious mixture of elements from different cultures or periods (e.g., Celtic brooch with Florentine motifs).<br />
• 5-6: Overall period style, materials and execution, with minor inconsistencies.<br />
• 7-8: Period design and execution with no inconsistencies; period materials; period techniques or reasonable equivalents.<br />
• 9-10: Special effort to achieve a completely period product by use of period materials, design, tools, techniques (hand-polishing, stamping with hand-made tools, etc.).</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Difficulty of material preparation techniques attempted (e.g., rolling, drawing, hammering, tempering, annealing, etc.).<br />
• Difficulty and variety of direct manipulation technique attempted (easier: twisting, sawing, filing, bending; harder: riveting, cold and hot forming, soldering, planishing, forge-welding; 2-metal techniques such as lamination, pattern-welding, inlay).<br />
• Difficulty and variety of indirect manipulation techniques attempted (e.g., mold making, casting, tool making).<br />
• Difficulty and variety of embellishment attempted (e.g., stamping, etching, chasing, polishing, granulation, filigree, repousse, niello, etc.).<br />
• Difficulty of design (intricate assembly required, use of non-metal elements, etc.).<br />
• Scope of endeavor (size of work relative to amount of detail).</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale of 1-10 based on the following:<br />
• Mastery of period style and practice.<br />
• Form/design: aesthetics, decorative motifs, pattern construction, etc.<br />
• Function/durability: Does piece do what it should? Will it hold up in use?<br />
• Forming techniques (casting, dishing, raising, twisting, etc.).<br />
• Finishing techniques (planishing, filling, polishing, etc.).<br />
[Consider the following only if used]<br />
• Assembly techniques (soldering, hinging, riveting, etc.).<br />
• Decorative techniques (piercing, etching, filigree, multi-metal, etc.).<br />
• Non-metal techniques (enameling, stone-cutting and setting, etc.).</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>