---
title: Miscellaneous Crafts Judging Criteria
---

Includes non-performance entries in any media not covered by other categories. Examples: bookbinding, basketweaving, etc. This set of criteria applies to finished items only; crafts involving only the preparation of materials for other uses (e.g. paintmaking, tanning, dyemaking) should be entered in MATERIAL PREPARATION. As generic criteria, this set reflects the standards used in all non-performance criteria.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation covers what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design elements and appropriateness to each other and to item's purpose or use in period.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Totally out of period and blatantly modern<br />
• 1-2: Generally period, with some obvious modern elements present<br />
• 3-4: Generally period but with obvious mixture of elements from different cultures or periods.<br />
• 5-6: Overall period style and execution with minor inconsistencies<br />
• 7-8: Period design and execution with no inconsistencies; period materials or reasonable equivalents<br />
• 9-10: Special effort to achieve completely period product by use of period design, materials, tools, techniques, etc. (Ex. all hand-done with period techniques); special effort to make entirely authentic and appropriate</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Scope of endeavor ( # of pieces, size of work in relation to amount of detail, etc.)<br />
• Difficulty and variety of design elements attempted<br />
• Difficulty and variety of techniques attempted<br />
• Difficulty and variety of media, materials, and tools used<br />
• Extent of original work (in patterns, etc.)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry, scale 1-10 based on the following:<br />
• Choice of materials, tools, methods, and techniques<br />
• Technique execution: neatness, precision, handling of materials, etc.<br />
• Form/design: balance, aesthetics, motifs, proportion, etc<br />
• Function: does it do what it should do and look as it should look?<br />
• Mastery of period style and technique<br />
• Personalization or special embellishment</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>